{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}




<div class="container-fluid">
        
  <div class="row">
      <div class="col-md-6 sidebar">
          <div class="logo_sidebar">
              
              <h2 class="logo">
                  <img class="img_logo_sidebar" src="{% static 'autenticacao/img/facebookprofile.png' %}">
              </h2>

          </div>

          
      </div>

      <div class="col-md-6">
          <div class="area_cadastrar">
              {% if messages %}
                  <br>
                  {% for message in messages %}
                      <div class="alert {{message.tags}}">
                          {{message}}
                      </div>
                  {% endfor %}
              {% endif %}
              <h1 class="titulo">{% trans "Sign In" %}</h1>>
              {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
              <p class="sub-titulo">{% blocktrans with site.name as site_name %}Please sign in with one
              of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
              for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

              <div class="socialaccount_ballot">

                <ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
              
                <div class="login-or">{% trans 'or' %}</div>
              
              </div>
              
              {% include "socialaccount/snippets/login_extra.html" %}
              
              {% else %}
              <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              {% endif %}

              <hr>

              <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input class="form-control input-form" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                <br>
                {% endif %}
                <a class="button secondaryAction form-control input-form" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <br>
                <button class="btn-first" type="submit">{% trans "Sign In" %}</button>
              </form>

          </div>

      </div>

  </div>


</div>

{% endblock %}
