{% extends 'base_sqlapp.html' %}

{% load static %}

{% block 'head' %}
    
{% endblock %}
    

{% block 'titulo' %}Filtrar Dados{% endblock %}
  

    

{% block 'body' %}

                    

<div class="container bg-dark text-light" style="background-color: aliceblue; margin-top: 100px;">


                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}

  <div class ="panel panel-dark">
    <div class ="panel-heading">
      <h1>FILTRAR DADOS</h1>
      <input type="button" name="btnVolta" class="btn btn-success pull-left" value="Voltar" onclick="javascript:window.history.back();">
      <br>
      <hr>
        <div class="panel-body panel-height">
            <form method="GET" action="{% url 'resultado_filtro' %}">{% csrf_token %}                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="banco">Banco:</label>
                        <select class="form-control" name="banco" id="banco">
                            <option value="">Todos</option>
                            {% for banco in bancos %}
                            <option value="{{ banco }}">{{ banco }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="layout">Layout:</label>
                        <select class="form-control" name="layout" id="layout">
                            <option value="">Todos</option>
                            {% for layout in layouts %}
                            <option value="{{ layout }}">{{ layout }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="proposta">Proposta</label>
                      <input type="text" class="form-control" id="proposta" placeholder="" name="proposta" value="{{ filtro_proposta }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cpf">CPF</label>
                      <input type="value" class="form-control" id="cpf" placeholder="" name="cpf" value="{{ filtro_cpf }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="nome">Nome</label>
                      <input type="text" class="form-control" id="nome" placeholder="" name="nome" value="{{ filtro_nome }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="natureza_do_lancamento">Natureza do Lançamento:</label>
                      <select class="form-control" name="natureza_do_lancamento" id="natureza_do_lancamento">
                          <option value="">Todos</option>
                          {% for natureza_do_lancamento in natureza_do_lancamentos %}
                          <option value="{{ natureza_do_lancamento }}">{{ natureza_do_lancamento }}</option>
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="tipo_de_lancamento">Tipo do Lançamento:</label>
                    <select class="form-control" name="tipo_de_lancamento" id="tipo_de_lancamento">
                        <option value="">Todos</option>
                        {% for tipo_de_lancamento in tipo_de_lancamentos %}
                        <option value="{{ tipo_de_lancamento }}">{{ tipo_de_lancamento }}</option>
                        {% endfor %}
                    </select>
                  </div>                  
                    <div class="form-group col-md-6">
                      <label for="observacao">Observação:</label>
                      <select class="form-control" name="observacao" id="observacao">
                          <option value="">Todos</option>
                          {% for observacao in observacaos %}
                          <option value="{{ observacao }}">{{ observacao }}</option>
                          {% endfor %}
                      </select>
                    </div>                  
                </div>
                <br>
                <br class="separador">
                <div class="mt-3"><h2>Valor do Lançamento</h2></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="maior_que">Maior que</label>
                      <input type="number" class="form-control" id="maior_que" placeholder="" name="maior_que" value="{{ vlr_lancamento__gt }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="menor_que">Menor que</label>
                      <input type="number" class="form-control" id="menor_que" placeholder="" name="menor_que" value="{{ vlr_lancamento__lt }}">
                    </div>
                </div>
                <br>
                <br class="separador">
                <div class="mt-3"><h2>Data da Proposta</h2></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="data_proposta_inicio">Início</label>
                      <input type="date" class="form-control" id="data_proposta_inicio" placeholder="" name="data_proposta_inicio" value="{{ filtro_data_proposta_inicio }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="data_proposta_final">Final</label>
                      <input type="date" class="form-control" id="data_proposta_final" placeholder="" name="data_proposta_final" value="{{ filtro_data_proposta_final }}">
                    </div>
                </div>
                <br>
                <br class="separador">
                <div class="mt-3"><h2>Data do Lançamento</h2></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="data_lancamento_inicio">Início</label>
                      <input type="date" class="form-control" id="data_lancamento_inicio" placeholder="" name="data_lancamento_inicio" value="{{ filtro_data_lancamento_inicio }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="data_lancamento_final">Final</label>
                      <input type="date" class="form-control" id="data_lancamento_final" placeholder="" name="data_lancamento_final" value="{{ filtro_data_lancamento_final }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <hr>
                <br>
            </form>
        </div>      
    </div>
  </div>
</div>


{% endblock %}






