{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    

    <title></title>
  </head>
  <body id="container" style="background-color: black;">
    
      {% if user.is_authenticated %} 
      <div>     
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
          <div class="container-fluid">
            <a style="font-weight: bold" class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static 'sqlapp/img/credfranco.png' %}" alt="" style="width: 200px;">
            </a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Início</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Adicionar música</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Listar músicas</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Adicionar álbum</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Listar álbum</a></li>
              <li class="nav-item"><a class="nav-link">Bem vindo {{ user.username }}!</a></li>
              <li><a class="nav-link scrollto" href="{% url 'sair' %}">Sair</a></li>
            </ul>
    
            <form class="d-flex" role="search" method="GET" action="#">
              <input class="form-control me-2" type="text" placeholder="Pesquisar..." aria-label="Search" name="q">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </nav>
      </div>
      {% endif %}
    
      
      <br>

    <div class="container" style="margin-top: 100px;">
        <form action="{% url 'index' %}" method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/unnamed.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">SAFRA:</label>
                      <input class="form-control" type="file" name="csv_file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>
                
                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/facta.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">FACTA:</label>
                      <input class="form-control" type="file" name="file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>

                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/cetelem.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">CETELEM:</label>
                      <input class="form-control" type="file" name="file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>

                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/pan.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">BANCO PAN:</label>
                      <input class="form-control" type="file" name="file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>

                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/ole.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">OLÉ:</label>
                      <input class="form-control" type="file" name="file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>

                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/c6.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">C6 BANK:</label>
                      <input class="form-control" type="file" name="file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>

                <div class="col-md" style="display: flex; margin-bottom: 10px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'sqlapp/img/bradesco.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="">BRADESCO:</label>
                      <input class="form-control" type="file" name="file" multiple>
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="EXECUTAR">
                    </div>
                  </div>
                </div>

                    
                </div>
            </div>
        </form>
    </div>



    <script>
      var nav = document.querySelector('nav');

      window.addEventListener('scroll', function() {
        if (window.pageYOffset > 100) {
          nav.classList.add('bg-dark', 'shadow');
        } else {
          nav.classList.remove('bg-dark', 'shadow');
        }
      });
      
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>

   
  </body>
</html>





      





