{% extends 'base_sqlapp.html' %}

{% load static %}

{% block 'head' %}
    
{% endblock %}
    

{% block 'titulo' %}Resultado do Filtro{% endblock %}
  

    

{% block 'body' %}

                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}


<div class="container-fluid mt-5">
  <div class="panel-group mb-3">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1 class = "panel-title">PROPOSTAS</h1>
      </div>
      <input type="button" name="btnVolta" class="btn btn-success pull-left" value="Voltar" onclick="javascript:window.history.back();" />
      
    </div>
  </div>
  <div class="panel-body panel-height">
        {% if dados %}
        <table class="table table-bordered table-striped table-responsive table-hover col-lg-12 center">
          <thead class="thead-dark">
            <tr>
              <th>Banco</th>
              <th>Layout</th>
              <th>Proposta</th>
              <th>CPF</th>
              <th>Nome</th>
              <th>Natureza do Lançamento</th>
              <th>Tipo de Lançamento</th>
              <th>Observação</th>
              <th>Valor do Lançamento</th>
              <th>% do Lançamento</th>
              <th>Data da Proposta</th>
              
              <th>Data do Lançamento</th>
            </tr>
          </thead>
          <tbody>
            {% for dado in dados %}
              <tr>
                <td>{{ dado.banco }}</td>
                <td>{{ dado.layout }}</td>
                <td>{{ dado.proposta }}</td>
                <td>{{ dado.cpf }}</td>
                <td>{{ dado.nome }}</td>
                <td>{{ dado.natureza_do_lancamento }}</td>
                <td>{{ dado.tipo_de_lancamento }}</td>
                <td>{{ dado.observacao }}</td>
                <td>R$ {{ dado.vlr_lancamento }}</td>
                <td>{{ dado.percentual_lancamento }}%</td>
                <td>{{ dado.data_da_proposta }}</td>
                <td>{{ dado.data_do_lancamento }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Nenhum dado encontrado.</p>
      {% endif %}
  </div>
{% endblock %}

