{% extends 'base_sqlapp.html' %}

{% load static %}

{% block 'head' %}
    
{% endblock %}
    

{% block 'titulo' %}Home{% endblock %}
  

    

{% block 'body' %}

                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}


<div class="container-fluid mt-5">
  <div class="panel-group mb-3">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1 class = "panel-title">PROPOSTAS</h1>
      </div>
      <!--<input type="button" name="btnVolta" class="btn btn-success pull-left" value="Voltar" onclick="javascript:window.history.back();" />-->
      <input type="button" name="btnVolta" class="btn btn-success pull-left" value="Voltar" onclick="window.location.href = '../view/frmFiltrar.php';" /> 
    </div>
  </div>
  <div class="panel-body panel-height">
    <table class="table table-bordered table-striped table-responsive table-hover col-lg-12 center">
      <thead class="thead-dark">
        <tr>
          <th>BANCO</th>
          <th>LAYOUT</th>
          <th>PROPOSTA</th>
          <th>CPF</th>
          <th>NOME</th>
          <th>NATUREZA DO LANÇAMENTO</th>
          <th>TIPO DE LANÇAMENTO</th>
          <th>OBSERVAÇÃO</th>
          <th>BRUTO CONTRATO</th>
          <th>LÍQUIDO CONTRATO</th>
          <th>VLR LANÇAMENTO</th>
          <th>% DO LANÇAMENTO</th>
          <th>DATA DA PROPOSTA</th>
          <th>DATA DO LANÇAMENTO</th>
        </tr>
      </thead>
      {% for d in data %}
      <tr>
        <td>{{ d.banco }}</td>
        <td>{{ d.layout }}</td>
        <td>{{ d.proposta }}</td>
        <td>{{ d.cpf }}</td>
        <td>{{ d.nome }}</td>
        <td>{{ d.natureza_do_lancamento }}</td>
        <td>{{ d.tipo_de_lancamento }}</td>
        <td>{{ d.observacao }}</td>
        <td>R$ {{ d.bruto_contrato }}</td>
        <td>{{ d.liquido_contrato }}</td>
        <td>R$ {{ d.vlr_lancamento }}</td>
        <td>{{ d.percentual_lancamento }}%</td>
        <td>{{ d.data_da_proposta }}</td>
        <td>{{ d.data_do_lancamento }}</td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

