{% extends 'base_sqlapp.html' %}

{% load static %}

{% block 'head' %}
    
{% endblock %}
    

{% block 'titulo' %}Safra{% endblock %}
  

    

{% block 'body' %}
      <br>
      <br>
      <br>


                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}

    <!--<input type="button" name="btnVolta" class="btn btn-success pull-left" value="Voltar" onclick="javascript:window.history.back();" />-->
    <input type="button" name="btnVolta" class="btn btn-success pull-left" value="Voltar" onclick="window.history.back();">


    <div class="container d-flex justify-content-center" style="margin-top: 100px;">
        <form action="{% url 'safra' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-12" style="display: flex; margin-bottom: 10px;">
                  <div class="card align-items-center shadow">
                    <img class="card-img-top" src="{% static 'sqlapp/img/unnamed.png' %}" style="width: 286px; height: 286px;" alt="Imagem de capa do card">
                    <div class="card-body">
                      <label for="layout">Selecione o layout:</label>
                      <select class="form-control" name="layout" id="layout">
                        <option value="" selected>Selecione o Layout</option>
                        {% for layout in layouts %}
                        <option value="{{ layout }}">{{ layout }}</option>
                        {% endfor %}
                      </select>
                      <br>
                      <input class="form-control" type="file" name="file" id="file">
                      <br>
                      <div class="card-footer d-flex justify-content-center">                        
                        <button type="submit" class="btn btn-success btn-lg">EXECUTAR</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}







      





