body {
    margin: 0;
    
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.separador {
  display: block;
  content: "";
  margin-top: 10px;
  border-top: 1px solid #ccc;
}



#container {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: url('../img/fundo.png');
    background-size: cover;
    background-attachment: fixed;
}