body {
    margin: 0;
    
  }

#container {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: url('../img/fundo.png');
    background-size: cover;
    background-attachment: fixed;
}